@import "~bootstrap/dist/css/bootstrap.min.css";

.wrapper {
  height: 100vh;
  width: auto;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.main-card {
  display: grid;
  grid-column: auto;
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.previous-card {
  scale: 60%;
  display: grid;
  grid-column: auto;
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}

.values {
  align-self: center;
  font-family: system-ui;
  font-size: 140px;
}

.values-red {
  align-self: center;
  font-family: system-ui;
  font-size: 140px;
  color: red;
}

.figuras {
  font-size: 80px;
  justify-self: flex-start;
  padding-left: 20px;
}

.red {
  font-size: 80px;
  justify-self: flex-start;
  padding-left: 20px;
  color: red;
}

.previous-card :nth-child(3) {
  font-size: 80px;
  justify-self: flex-end;
  padding-right: 20px;
  transform: rotate(180deg);
}
.main-card :nth-child(3) {
  font-size: 80px;
  justify-self: flex-end;
  padding-right: 20px;
  transform: rotate(180deg);
}

.UI {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 45px;
}
.button {
  background-color: red;
  padding: 1rem;
  width: 200px;
  border-radius: 15px;
  font-family: system-ui;
  font-weight: 800;
  color: #ffffff;
  border-style: none;
}

.button-restart {
  background-color: rgb(255, 240, 75);
  padding: 1rem;
  width: 200px;
  border-radius: 15px;
  font-family: system-ui;
  font-weight: 800;
  color: #170230;
  border-style: none;
}

.joker {
  background-image: url(https://tecolotito.elsiglodetorreon.com.mx/i/2019/05/1177566.jpeg);
  background-position: center;
  background-size: cover;
  height: inherit;
  border-radius: inherit;
}
